body {
  background-color: #f8f9fa;
  margin-left: 4vw;
  margin-right: 4vw;
}

  .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
}

#carousel {
  margin-bottom: 1vh;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 20vw;
}

label {
  margin-top: 2%;
}

#send {
  width: fit-content;
  margin-top: 2%;
}
 
/* @media screen and (min-width: 30em) and (orientation: landscape) {
  body {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}*/
@media (min-height: 680px), screen and (orientation: portrait) {
  body {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}
