body {
  background-color: #f8f9fa;
  margin-left: 4vw;
  margin-right: 4vw; 
}

.homeCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.row, .h-50 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vh;
}

#carousel {
  margin-bottom: 2vh;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 20vw;
}

label {
  margin-top: 2%;
}

#send {
  width: fit-content;
  margin-top: 2%;
}

#bookingContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3vh;
}

#basic-navbar-nav {
  font-size: 1.2em;
}

#navBarContainer {
  margin-left: -2%;
}
 
/* @media screen and (min-width: 30em) and (orientation: landscape) {
  body {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}*/
@media (min-height: 680px), screen and (orientation: portrait) {
  body {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}


